body {
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    font-family: Arial, sans-serif;
    background-image: url(img/tet.jpg);
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    /* max-width: 1200px; */
    margin-top: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* General styles for header and footer */
.site-header, .site-footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.site-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 20px; */
}

.site-footer .container_{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    /* padding: 0 20px; */
    flex-direction: column;
}

.site-header h1, .site-footer p {
    margin: 0;
    font-size: 1.8em;
}

.site-header nav ul, .site-footer nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}


.site-header nav ul li, .site-footer nav ul li {
    display: inline;
}

.site-header nav ul li a, .site-footer nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1em;
}

.site-header nav ul li a:hover, .site-footer nav ul li a:hover {
    color: #007b3a;
}

/* Additional styles for a more attractive appearance */
.site-header {
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.site-footer {
    background-image: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.site-footer p {
    font-size: 1em;
    text-align: center;
    flex: 1;
    margin-top: 10px;
}

@media (max-width:870px) {
    .container {
        flex-direction: column;
        > .form-section {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }
    }
}
.form-section, .field-container, .bench-container {
    margin-bottom: 20px;
}

.form-section{
    /* width: 100%; */
    /* max-width: 600px; */
    width: 40%;
    /* background-color: #333; */
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}
.form-section h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.5em;
}
.form-section form {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.form-section label {
    display: block;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 1em;
}
.form-section input, .form-section select {
    width: calc(100% - 20px);
    padding: 10px 0px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #555;
    color: white;
    font-size: 1em;
}
.form-section input::placeholder{
    padding-left: 10px;
}

.form-section button {
    background-color: #007b3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    width: calc(100% - 20px);
    margin-bottom: 5px;
}
.form-section button:hover {
    background-color: #005a2a;
}
.field-container {
    background-image: url('img/image1.svg');
    /* background-color: white; */
    /* margin: auto; */
    width: 100%;
    max-width: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 800px;
    position: relative;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;

}
.players img{
    width: 80px;
    height: 120px;
}

.bench-container {
    /* background-color: #444; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}
.player-position, .bench-player {
    background: url('img/badge_total_rush.svg') no-repeat center center / cover;
    position: absolute;
    width: 150px;
    height: 200px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    scale: 0.7;
    flex-shrink: 0;
}

.bench-player {
    text-align: center;
    position: relative;
    transform: translate(-30%, -30%) !important;
}
@media (max-width:550px) {
    .player-position{
        width: 75px;
        height: 100px;
        /* position: absolute; */
        transform: translate(-50%, -50%);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
        scale: 0.7;
        flex-shrink: 0;
    }
    .player-position .Postyle p{
        display: none;
    }
    .player-position h4{
        text-align: center;
    }
}
.card{
    width: 105px;
    height: 154px;
    background: url('img/badge_total_rush.svg') no-repeat center center / cover;
    display: none;
}
.players{
    width: 90%;
    position: absolute;
    /* display: none; */
}
#attackers , #center{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 }
 #attackers div , #center div{
    margin: auto;
 }
 #defenders{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 #defenders div{
    margin: auto;
 }
 #goal-keeper {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.player-position img, .bench-player img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
}

/* .player-card img{
    background-color: white;
} */
.player-position h4, .player-position p, .bench-player h4, .bench-player p {
    font-size: 1em;
    margin: 5px 0;
    color: white;
}

.player-position .Postyle, .bench-player .Postyle{
    display: flex;
    justify-content: space-around;
    gap: 10%;
}

.player-card p{
    font-size: 0.8em;
    margin: 2px 0;
}
.player-card button {
    background-color: #007b3a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.player-card button:hover {
    background-color: #005a2a;
}

.additional-stats { 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px; 
    border-radius: 8px; 
    margin-top: 10px; 
    text-align: left;
}
.additional-stats p{
    color: white;
}

.subs{
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    border: rgba(192, 166, 16, 0.582) solid;
    background-color: rgba(0, 0, 0, 0.514);
    width: 80%;
    border-radius: 10px;
    padding: 1%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    height: 140px;
    display: flex;
}

.edit-button, .delete-button {
    width: 70%;
    border-radius: 15px;
    border: solid gray 1px;
    box-shadow: 2px 2px 10px black;
}
.edit-button {
    background-color: hsl(240, 50%, 61%);
    color: white;
}
.delete-button{
    background-color: hsl(0, 100%, 60%);
    color: white;
}